.dockerignore
.gitattributes
.gitignore
.mailmap
.git
.venv
ADVANCED.md
CONTRIBUTING.md
Dockerfile
Dockerfile.railway
README.md
README-One-Turn-Per-Day.md
TODO
Vagrantfile
logs/
tests/
blender/
music/
pbem/
scripts/
config/
xbworld-proxy/
freeciv/build/
*.log
__pycache__